@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e9e9e9;
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0077B6;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #078ed7;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 4rem;
    margin: 20px 0 5px 0;
    font-weight: 600;
    color: #0077B6;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 20px 0 50px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input{
    border: none;
    padding: 5px 0 5px 4px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #F2F2F2;
}

input:focus{
    outline: none;
}

label{
    margin: 5px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.input_container{
    display: flex;
}

.input_container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 0 100px;
}

.input_button{
    margin: 20px 0 40px 0;
    cursor: pointer;
    padding: 6px 80px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: #47BA86;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input_button:active{
    transform: scale(0.98);
}

.list_td_edit{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
}



.green{
    color: #47BA86;
}

tr td:nth-of-type(1){
    color: black !important;
}
tr td:nth-of-type(2){
    color: black !important;
}

.red{
    color: #D00000;
}

.clear_btn{
    display: none;
    cursor: pointer;
    margin: 40px 0 40px 0;
    padding: 6px 80px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: #D00000;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.show{
    display: block;
}

.show2{
    display: flex !important;
}

.hide{
    display: none;
}

.show_difference, .show_percentage{
    font-size: 1.8rem;
    font-weight: 550;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 16px 29px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.show_difference{
    margin-right: 40px;
}

.show_percentage{
    
    margin-left: 40px;
}

.show_details{
    display: none;
    margin: 20px 0 15px 0;
}


th{
    font-size: 1.3rem;
}
